project_id       = "your-gcp-project-id"
region           = "your-region"
prefix           = "tsuga"
tsuga_api_key    = "your-tsuga-api-key"
tsuga_intake_url = "https://intake.tsuga.io/api/v1/otlp"

universe_domain = "myuniverse.example"

vpc_network    = "your-vpc-network"
vpc_subnetwork = "your-subnetwork-in-your-region"
